---
http_interactions:
- request:
    method: get
    uri: http://gpodder.net/api/2/data/podcast.json?url=http://adventurezone.libsyn.com/rss%23_=_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"url": "http://adventurezone.libsyn.com/rss#_=_", "title": "The Adventure
        Zone", "description": "Justin, Travis and Griffin McElroy from My Brother,
        My Brother and Me have\nrecruited their dad Clint for a campaign of high adventure.
        Join the McElroys\nas they find their fortune and slay an unconscionable number
        of ... you know,\nkobolds or whatever in ... The Adventure Zone.", "subscribers":
        0, "subscribers_last_week": 0, "logo_url": "http://static.libsyn.com/p/assets/c/3/7/e/c37e81258bbd2c79/ADVENTURE_ZONE_EXPERIMENT_ART.jpg",
        "scaled_logo_url": "http://gpodder.net/logo/64/2e0/2e056011cbbefd9d60a311f0342f9c8bdf86ca8f",
        "website": "http://adventurezone.libsyn.com/podcast", "mygpo_link": "http://gpodder.net/podcast/the-adventure-zone-1"}'
  recorded_at: Mon, 23 Jul 2018 17:13:44 GMT
recorded_with: VCR 4.0.0
